{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [pc]}.

{pre_hooks, [ {compile, "git submodule update --init"}
            , {compile, "make -j -C \"c_src/mcl\""}
            ]}.

{post_hooks, [{clean, "make -C \"c_src/mcl\" clean"}
             ]}.

{provider_hooks, [
    {post, [ {compile, {pc, compile}}
           , {clean,   {pc, clean}}
           ]}
    ]}.

{port_specs, [{"priv/emcl_nif.so", ["c_src/*.c"]}]}.

{port_env, [ {"darwin", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -arch x86_64 -finline-functions -Wall -Wmissing-prototypes -I c_src/mcl/include"}
           , {"darwin", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -arch x86_64 -finline-functions -Wall"}
           , {"darwin", "LDFLAGS", "$LDFLAGS -arch x86_64 c_src/mcl/lib/libmclbn384_256.a c_src/mcl/lib/libmcl.a -lgmp"}

           , {"linux", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -I c_src/mcl/include"}
           , {"linux", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions -Wall"}
           , {"linux", "LDFLAGS", "$LDFLAGS c_src/mcl/lib/libmclbn384_256.a c_src/mcl/lib/libmcl.a -lgmp -lstdc++"}


           , {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG"}
           , {"win32", "LDFLAGS", "$LDFLAGS c_src/mcl/lib/libmclbn384_256.a c_src/mcl/lib/libmcl.a"}
]}.
